@import "../../../../variables.scss";

.app-slider {
  font-family: "Space Grotesk", sans-serif;

  .title {
    background-image: linear-gradient(
      to right,
      $primary,
      #2401db
    ); // Specify your gradient colors
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }

  .game-banner {
    position: relative;
    width: 100%;
    min-height: 650px;
    @media screen and (max-width: 935px) {
      min-height: 750px;
      @media screen and (max-width: 670px) {
        min-height: 900px;
        @media screen and (max-width: 550px) {
          min-height: 950px;
          @media screen and (max-width: 500px) {
            // min-height: 1100px;
          }
        }
      }
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    .game-info {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      background-image: linear-gradient(
        to bottom,
        rgb(255 199 82 / 45%),
        rgb(0 0 0 / 87%)
      );
      backdrop-filter: blur(4px); // Specify your gradient colors
      display: flex;
      align-items: flex-end;
      padding: 4rem 0;
      .content {
        h1 {
          font-weight: 700;
          font-size: 3em;
          margin-bottom: 1rem;
        }
        .description {
          font-size: 1em;
          color: $white;
          max-width: 600px;
          margin-bottom: 1rem;
        }
        .basic-info {
          max-width: 750px;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0.8rem;
          .info {
            min-width: 200px;
            p {
              font-size: 0.9em;
              color: $white;
              font-weight: 700;
            }
          }
        }
        .tags {
          margin-top: 1rem;
          .tags-sub {
            max-width: 800px;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            .MuiChip-root {
              background-color: #ffffff30;
              color: $white;
            }
          }
        }
        .screenshots {
          .screenshots-sub {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            img {
              width: 120px;
              height: 75px;
              object-fit: cover;
              object-position: center;
              border-radius: 5px;
              transition-duration: 0.3s;
              &:hover {
                cursor: pointer;
                scale: 1.3;
                transition-duration: 0.3s;
              }
            }
          }
        }
        .actions {
          margin-top: 4rem;
          display: flex;
          gap: 0.5rem;
          .MuiButton-root {
            background-color: #0f0f0f;
            height: 45px;
            font-size: 1.2em;
            &:first-child {
              padding: 0 2rem;
              font-size: 14px;
              background-image: linear-gradient(
                to right,
                $primary,
                #2401db
              ); // Specify your gradient colors
              text-transform: capitalize;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .slider-loader {
    width: 100%;
    height: 90vh;
    background-color: #ffffff17;
    .loader-sub {
      height: inherit;
      display: flex;
      align-items: center;
      .loading-component {
        display: inline-block;
        width: 100px; // Adjust the width based on your design
        height: 20px; // Adjust the height based on your design
        background: linear-gradient(
          90deg,
          #ffffff2a,
          #ffffff1a,
          #ffffff2a
        ); // Adjust colors as needed
        background-size: 200% 100%;
        animation: skeleton-loading 1.5s infinite;
        border-radius: 5px;
      }
      .h1 {
        width: 500px;
        height: 3rem;
        margin-bottom: 1rem;
      }
      .description {
        width: 650px;
        margin-bottom: 1rem;
        .sub {
          width: 100%;
          height: 16px;
          &:last-child {
            width: 50%;
          }
        }
      }
      .info {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
        .sub {
          width: 150px;
          height: 22px;
        }
        &.second {
          .sub {
            &:last-child {
              width: 400px;
            }
          }
        }
      }
      .images {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        .sub {
          width: 120px;
          height: 75px;
        }
      }
      .buttons {
        margin-top: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .sub {
          width: 70px;
          height: 45px;
          &:first-child {
            width: 150px;
          }
        }
      }
      .tags {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        .sub {
          width: 80px;
          height: 25px;
          border-radius: 50px;
        }
      }
    }
  }
}

.carousel-image {
  // width: auto;
  min-width: 70vw;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

// Define keyframes for the skeleton animation
@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
